.cart-footer {
    display: grid;
    grid-template-columns: 5fr 3fr 4fr;
    gap: 10px 30px;
    
    background: #EAEFF2;
    padding: 19px 0;

    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2; /* 21.6px */

    @media (max-width: $mobile) {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    @media (max-width: $mobile-xs) {
        grid-template-columns: 1fr;
        text-align: center;
        grid-auto-rows: 40px;
        row-gap: 10px;
    }

}

.cart-footer__count {
    grid-column: 2;

    @media (max-width: $mobile) {
        grid-column-start: 1;
    }
}

.cart-footer__price {
}