// Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600&display=swap');

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Gilroy', sans-serif;
*/

* {
    // border: 1px solid lightgray;
}

.none {
    display: none !important;
}

.visible {
    opacity: 1 !important;
}

html, body {
    font-family: var(--font-main);
    color: var(--text-color);
}

body {
    position: relative;
    // padding-bottom: 20vh;
}

.container {
    max-width: 1310px;  // w-1280 + 2 * 15 (padding) = 1310
    padding: 0 15px;
    margin: 0 auto;

    &--small {
        max-width: 1094px;    // w-1064 + 2 * 15 (padding) = 1094

    }
}

.container-blur {
    // position: static;
    // opacity: 0;
    // display: none;
    height: 0;

    &--open {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        padding: 35px;

        height: 100vh;

        background: rgba(214, 180, 180, 0.199);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        opacity: 1;
        z-index: 10;

        @include tabletXS {
            padding: 0;
        }
    }
}

.title-2 {
    font-weight: 700;
    font-size: clamp(32px, 1.702rem + 1.49vw, 42px);
}
